* {
    box-sizing:border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    background-color: #fffffffd;
    border:5px solid black;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: auto;
    text-align:center;
    text-transform:uppercase;
}

.burrito, .lasagna, .tacos {
    width: 200px;
    height: 150px;
    margin: 50px;;
    padding:50px;
    border: solid black 5px;
    text-align:center;
    background-color:crimson;
}
