body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    background-color: rgb(48, 95, 150);
}

.header {
    text-align: center;
}

.div {
    background-color: yellow;
    border:5px solid black;
    padding: 30px;
    margin: 60px 0;
    text-align:center;
}

.list {
    display:block;
    border:10px solid black;
    
}