* {
    box-sizing:border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    background-color: rgb(48, 95, 150);
}

.header {
    font-weight: 100;
    text-align:center;
    border: 10px solid black;
}

.list {
    font-weight: 200;
    text-align: center;
    border: 10px solid black;
    padding: 50px;
    background-color: yellow;
}

.burrito, .lasagna, .tacos {
    margin:0;
    padding:50px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 350;
}