body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    background-color: rgb(48, 95, 150);
}

.list {
    text-align: center;
}

.header {
    text-align: center;
}

p {
    color: white;
    background-color: yellow;
}